---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/document/
    body:
      encoding: UTF-8
      string: '{"paths":["d95309eb-50bd-4594-bd7a-950011578480/document/-/format/jpg/"],"store":"1","save_in_group":"0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare <uploadcare_public_key>:<uploadcare_auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - dcc60a86-38cb-4836-a037-8279b60e97ab
    body:
      encoding: UTF-8
      string: '{"result": [{"original_source": "d95309eb-50bd-4594-bd7a-950011578480/document/-/format/jpg/",
        "token": 44428259, "uuid": "ddf298c3-6113-465b-8677-1f566cced4f1"}], "problems":
        {}}'
  recorded_at: Thu, 20 Jun 2024 12:01:06 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/convert/document/d95309eb-50bd-4594-bd7a-950011578480/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare <uploadcare_public_key>:<uploadcare_auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 6caab90a-9fc0-4194-a092-480e8ce65ff9
    body:
      encoding: ASCII-8BIT
      string: '{"error":null,"format":{"name":"pdf","conversion_formats":[{"name":"bmp"},{"name":"csv"},{"name":"doc"},{"name":"docx"},{"name":"dwg"},{"name":"dxf"},{"name":"enhanced.jpg"},{"name":"epub"},{"name":"fb2"},{"name":"gif"},{"name":"html"},{"name":"html5"},{"name":"html5-1page"},{"name":"htmlz"},{"name":"jpg"},{"name":"lit"},{"name":"lrf"},{"name":"md"},{"name":"mobi"},{"name":"mp3"},{"name":"pcx"},{"name":"pdb"},{"name":"png"},{"name":"ppt"},{"name":"pptx"},{"name":"prc"},{"name":"ps"},{"name":"rb"},{"name":"rtf"},{"name":"snb"},{"name":"svg"},{"name":"tcr"},{"name":"thumbnail"},{"name":"tiff"},{"name":"txt"},{"name":"txtz"},{"name":"xls"},{"name":"xlsx"}]}}'
  recorded_at: Thu, 20 Jun 2024 12:01:07 GMT
recorded_with: VCR 6.2.0
