---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/document/
    body:
      encoding: UTF-8
      string: '{"paths":["a4b9db2f-1591-4f4c-8f68-94018924525d/document/-/format/png/-/page/1/"],"store":"0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:ed63280f553fde33e885615b4d22f1d384ddcd56
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"result": [{"original_source": "a4b9db2f-1591-4f4c-8f68-94018924525d/document/-/format/png/-/page/1/",
        "token": 21120391, "uuid": "cd7a51d4-9776-4749-b749-c9fc691891f1"}], "problems":
        {}}'
  recorded_at: Mon, 19 Jul 2021 12:38:42 GMT
recorded_with: VCR 6.0.0
