---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/document/
    body:
      encoding: UTF-8
      string: '{"paths":["23d29586-713e-4152-b400-05fb54730453/document/-/format/jpg/"],"store":"0","save_in_group":"1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare <uploadcare_public_key>:<uploadcare_auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - d5ba6783-f33d-48b7-b567-f9eda216a17d
    body:
      encoding: UTF-8
      string: '{"result": [{"original_source": "23d29586-713e-4152-b400-05fb54730453/document/-/format/jpg/",
        "token": 44428559, "uuid": "d586b32a-9b5b-4209-94ad-b79761f5b57f"}], "problems":
        {}}'
  recorded_at: Thu, 20 Jun 2024 12:14:09 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/convert/document/23d29586-713e-4152-b400-05fb54730453/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare <uploadcare_public_key>:<uploadcare_auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 4b26200c-ef3d-48f9-8073-f6d9a4fe237e
    body:
      encoding: ASCII-8BIT
      string: '{"error":null,"format":{"name":"pdf","conversion_formats":[{"name":"bmp"},{"name":"csv"},{"name":"doc"},{"name":"docx"},{"name":"dwg"},{"name":"dxf"},{"name":"enhanced.jpg"},{"name":"epub"},{"name":"fb2"},{"name":"gif"},{"name":"html"},{"name":"html5"},{"name":"html5-1page"},{"name":"htmlz"},{"name":"jpg"},{"name":"lit"},{"name":"lrf"},{"name":"md"},{"name":"mobi"},{"name":"mp3"},{"name":"pcx"},{"name":"pdb"},{"name":"png"},{"name":"ppt"},{"name":"pptx"},{"name":"prc"},{"name":"ps"},{"name":"rb"},{"name":"rtf"},{"name":"snb"},{"name":"svg"},{"name":"tcr"},{"name":"thumbnail"},{"name":"tiff"},{"name":"txt"},{"name":"txtz"},{"name":"xls"},{"name":"xlsx"}],"converted_groups":{"png":"88d59cae-c88d-459d-b99b-a87a6a2519d0~2","jpg":"69fe5a35-e5e5-449d-9287-e8453f76aab3~2"}}}'
  recorded_at: Thu, 20 Jun 2024 12:14:10 GMT
recorded_with: VCR 6.2.0
