---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/convert/document/cd7a51d4-9776-4749-b749-c9fc691891f1/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare demopublickey:219d67acad8d30c4b33e2eb4b14359bb1d82ebd8
  response:
    status:
      code: 200
      message: ok
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      Allow:
      - GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - '0797972e-39d6-4636-8385-8666c9d3c98f'
    body:
      encoding: UTF-8
      string: '{"error":null, "format":{"name":"jpg", "conversion_formats":[{"name":"avif"}, {"name":"bmp"}, {"name":"gif"}, {"name":"ico"}, {"name":"pcx"}, {"name":"pdf"}, {"name":"png"}, {"name":"ps"}, {"name":"svg"}, {"name":"tga"}, {"name":"thumbnail"}, {"name":"tiff"}, {"name":"wbmp"}, {"name":"webp"}]}}'
  recorded_at: Tue, 30 Apr 2024 12:31:00 GMT
recorded_with: VCR 6.2.0
