---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/document/
    body:
      encoding: UTF-8
      string: '{"paths":["86c54d9a-3453-4b12-8dcc-49883ae8f084/document/-/format/jpg/-/page/1/"],"store":"0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:b325415d285d095cb48dffd38a281fb31b8de912
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"result": [], "problems": {"86c54d9a-3453-4b12-8dcc-49883ae8f084/document/-/format/jpg/-/page/1/":
        "the target_format is not a supported ''to'' format for this source file.
        txt -> jpg"}}'
  recorded_at: Fri, 23 Jul 2021 07:50:43 GMT
recorded_with: VCR 6.0.0
