---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/document/
    body:
      encoding: UTF-8
      string: '{"paths":["23d29586-713e-4152-b400-05fb54730453/document/-/format/png/"],"store":"0","save_in_group":"1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare <uploadcare_public_key>:<uploadcare_auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - 3bfdd243-a700-4a53-93c5-f3bbbbdf6efa
    body:
      encoding: UTF-8
      string: '{"result": [{"original_source": "23d29586-713e-4152-b400-05fb54730453/document/-/format/png/",
        "token": 44427572, "uuid": "44c011c3-de82-4c65-81ac-2738c741bec5"}], "problems":
        {}}'
  recorded_at: Thu, 20 Jun 2024 11:27:41 GMT
recorded_with: VCR 6.2.0
