---
http_interactions:
- request:
    method: get
    uri: http://api.uploadcare.com/files/172f8ce7-fa49-4677-b58c-1fbdfbab5c22/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Warning:
      - '199 Miscellaneous warning: You should use secure requests to Uploadcare'
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-02-17T09:43:28.211822Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":50,"width":50,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/172f8ce7-fa49-4677-b58c-1fbdfbab5c22/kitten.jpeg","original_filename":"kitten.jpeg","size":1290,"url":"https://api.uploadcare.com/files/172f8ce7-fa49-4677-b58c-1fbdfbab5c22/","uuid":"172f8ce7-fa49-4677-b58c-1fbdfbab5c22","source":null}'
  recorded_at: Mon, 17 Feb 2020 13:19:05 GMT
recorded_with: VCR 5.0.0
