---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/project/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"collaborators":[],"name":"New project","pub_key":"foo","autostore_enabled":true}'
  recorded_at: Tue, 21 Jan 2020 08:57:27 GMT
recorded_with: VCR 5.0.0
