---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/project/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:96a46927600d1df193ac33da5c1c9db819d0d31c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"collaborators":[],"name":"New project","pub_key":"c8499ee6dc44194c00d2","autostore_enabled":true}'
  recorded_at: Tue, 21 Jan 2020 08:57:27 GMT
recorded_with: VCR 5.0.0
