---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/addons/remove_bg/execute/
    body:
      encoding: UTF-8
      string: '{"target":"ff4d3d37-4de0-4f6d-a7db-8cdabe7fc768","params":{"crop":true,"type_level":"2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:1e8f4ed9741bff27646ee6d4e056ba22c7e8fc67
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - c3446e41-9eb0-4301-aeb4-356d0fdcf9af
    body:
      encoding: UTF-8
      string: '{"request_id": "c3446e41-9eb0-4301-aeb4-356d0fdcf9af"}'
  recorded_at: Fri, 23 Sep 2022 11:29:24 GMT
recorded_with: VCR 6.1.0
