---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/8f64f313-e6b1-4731-96c0-6751f1e7a50a/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:30b3c7008968e64d7bebc4499a6ff7cb7f6d8a65
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2020-01-16T15:03:15.315064Z","datetime_uploaded":"2020-01-16T15:03:14.676902Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":183,"width":190,"geo_location":null,"datetime_original":null,"dpi":null},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/8f64f313-e6b1-4731-96c0-6751f1e7a50a/imagepng.jpeg","original_filename":"image.png.jpeg","size":5345,"url":"https://api.uploadcare.com/files/8f64f313-e6b1-4731-96c0-6751f1e7a50a/","uuid":"8f64f313-e6b1-4731-96c0-6751f1e7a50a","source":null}'
  recorded_at: Mon, 20 Jan 2020 15:53:26 GMT
recorded_with: VCR 5.0.0
