---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/?limit=2&ordering=-datetime_uploaded
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:4230a586b79c615ea88c4230588ad22900f1b62d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 60b2c300-5e10-4811-99ff-0d9cf5bb90e4
    body:
      encoding: ASCII-8BIT
      string: '{"next":"https://api.uploadcare.com/files/?limit=2&ordering=-datetime_uploaded&from=2022-09-28T15%3A53%3A36.082137%2B00%3A00&offset=0","previous":null,"total":129,"totals":{"removed":0,"stored":129,"unstored":0},"per_page":2,"results":[{"datetime_removed":null,"datetime_stored":"2022-10-01T08:31:32.834879Z","datetime_uploaded":"2022-10-01T08:31:32.730675Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/8f0a2a28-3ed7-481e-b415-ee3cce982aaa/image.png","original_filename":"image.png","size":86745,"url":"https://api.uploadcare.com/files/8f0a2a28-3ed7-481e-b415-ee3cce982aaa/","uuid":"8f0a2a28-3ed7-481e-b415-ee3cce982aaa","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":536,"format":"PNG","height":354,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}},{"datetime_removed":null,"datetime_stored":"2022-09-28T15:53:36.188117Z","datetime_uploaded":"2022-09-28T15:53:36.082137Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/4654a098-ddef-4157-98f2-9c902b699bd8/image.png","original_filename":"image.png","size":4659,"url":"https://api.uploadcare.com/files/4654a098-ddef-4157-98f2-9c902b699bd8/","uuid":"4654a098-ddef-4157-98f2-9c902b699bd8","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":274,"format":"PNG","height":367,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}]}'
  recorded_at: Sun, 02 Oct 2022 10:26:38 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/files/?from=2022-09-28T15:53:36.082137%2B00:00&limit=2&offset=0&ordering=-datetime_uploaded
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:0d7bb1c3580c5d56e4f30404e5b27f246d1febb5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
[...]
- request:
    method: get
    uri: https://api.uploadcare.com/files/?limit=2&offset=0&ordering=-datetime_uploaded&to=2022-09-28T15:21:26.699767%2B00:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:bdf959af683533c1b5c9bcd5cb9b8167f4e39948
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
  [...]
