---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/5632fc94-9dff-499f-a373-f69ea6f67ff8/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:2c041b3e704e775c5bdff1b3aa0a450b615a1efe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 190304d9-a180-4d67-b996-d33880855f32
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2022-11-29T20:11:58.097631Z","datetime_uploaded":"2022-11-29T20:11:57.935579Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/5632fc94-9dff-499f-a373-f69ea6f67ff8/image.png","original_filename":"image.png","size":180833,"url":"https://api.uploadcare.com/files/5632fc94-9dff-499f-a373-f69ea6f67ff8/","uuid":"5632fc94-9dff-499f-a373-f69ea6f67ff8","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":2560,"format":"PNG","height":1440,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Wed, 30 Nov 2022 13:28:00 GMT
- request:
    method: post
    uri: https://api.uploadcare.com/files/remote_copy/
    body:
      encoding: UTF-8
      string: '{"source":"5632fc94-9dff-499f-a373-f69ea6f67ff8","target":"16d8625b4c5c4a372a8f"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:741cd9ff9b382eea440ff6af4120a4cfff29f554
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - 824644fb-28d5-4539-b25c-6a29d1fbfbfd
    body:
      encoding: ASCII-8BIT
      string: '{"detail":"Project has no storage with provided name."}'
  recorded_at: Wed, 30 Nov 2022 13:28:01 GMT
recorded_with: VCR 6.1.0
