---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/nonexistent/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare.Simple c8499ee6dc44194c00d2:81d1ab1b5e9cb74d1ab1
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.google.com/files/nonexistent/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>301
        Moved</TITLE></HEAD><BODY>\n<H1>301 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://www.google.com/files/nonexistent/\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Tue, 04 Feb 2020 14:13:49 GMT
recorded_with: VCR 5.0.0
