---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: '{"source":"8f64f313-e6b1-4731-96c0-6751f1e7a50a"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare.Simple c8499ee6dc44194c00d2:81d1ab1b5e9cb74d1ab1
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Location:
      - https://api.uploadcare.com/files/e9a9f291-cc52-4388-bf65-9feec1c75ff9/
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-01-17T14:46:41.919939Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/e9a9f291-cc52-4388-bf65-9feec1c75ff9/imagepng.jpeg","original_filename":"image.png.jpeg","size":0,"url":"https://api.uploadcare.com/files/e9a9f291-cc52-4388-bf65-9feec1c75ff9/","uuid":"e9a9f291-cc52-4388-bf65-9feec1c75ff9","source":"/8f64f313-e6b1-4731-96c0-6751f1e7a50a/"}}'
  recorded_at: Fri, 17 Jan 2020 14:46:42 GMT
recorded_with: VCR 5.0.0
