---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/5632fc94-9dff-499f-a373-f69ea6f67ff8/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:8beab0f0ec5e6fac77682e6cd51c3f65fea6fab1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 4b0db1e6-b596-4da4-b885-da81bbafecd2
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2022-11-29T20:11:58.097631Z","datetime_uploaded":"2022-11-29T20:11:57.935579Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/5632fc94-9dff-499f-a373-f69ea6f67ff8/image.png","original_filename":"image.png","size":180833,"url":"https://api.uploadcare.com/files/5632fc94-9dff-499f-a373-f69ea6f67ff8/","uuid":"5632fc94-9dff-499f-a373-f69ea6f67ff8","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":2560,"format":"PNG","height":1440,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Wed, 30 Nov 2022 13:00:34 GMT
- request:
    method: post
    uri: https://api.uploadcare.com/files/local_copy/
    body:
      encoding: UTF-8
      string: '{"source":"5632fc94-9dff-499f-a373-f69ea6f67ff8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:1adaff74d07cc49672c404f885295c646a0a509b
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Location:
      - https://api.uploadcare.com/files/d359955d-665c-4556-b305-6301290ccdec/
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - ba55b3db-db3f-4589-b830-8f4b221b6338
    body:
      encoding: ASCII-8BIT
      string: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2022-11-30T13:00:34.811719Z","is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/d359955d-665c-4556-b305-6301290ccdec/image.png","original_filename":"image.png","size":0,"url":"https://api.uploadcare.com/files/d359955d-665c-4556-b305-6301290ccdec/","uuid":"d359955d-665c-4556-b305-6301290ccdec","variations":null,"content_info":null,"metadata":{}}}'
  recorded_at: Wed, 30 Nov 2022 13:00:34 GMT
recorded_with: VCR 6.1.0
