---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/?limit=2&ordering=size
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":"https://api.uploadcare.com/files/?ordering=size&from=4394&limit=2&offset=0","previous":null,"total":7,"per_page":2,"results":[{"datetime_removed":null,"datetime_stored":"2020-02-12T12:16:47.326688Z","datetime_uploaded":"2020-02-12T12:16:47.262363Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":121,"width":100,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/121.jpeg","original_filename":"121.jpeg","size":2744,"url":"https://api.uploadcare.com/files/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/","uuid":"35b7fcd7-9bca-40e1-99b1-2adcc21c405d","source":null},{"datetime_removed":null,"datetime_stored":"2020-02-14T13:30:08.959836Z","datetime_uploaded":"2020-02-14T13:30:08.785811Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":139,"width":200,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/730c5fb9-bbe7-402c-9c26-789e92a5a353/139","original_filename":"139","size":4394,"url":"https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/","uuid":"730c5fb9-bbe7-402c-9c26-789e92a5a353","source":null}]}'
  recorded_at: Fri, 13 Mar 2020 15:47:05 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/files/?from=4394&limit=2&offset=0&ordering=size
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      str[...]
[...]
- request:
    method: get
    uri: https://api.uploadcare.com/files/?from=13380&limit=2&offset=0&ordering=size
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":null,"previous":"https://api.uploadcare.com/files/?ordering=size&limit=2&to=348322&offset=0","total":7,"per_page":2,"results":[{"datetime_removed":null,"datetime_stored":"2020-03-13T15:34:02.760978Z","datetime_uploaded":"2020-03-13T15:34:02.562415Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":1875,"width":3000,"geo_location":null,"datetime_original":null,"dpi":[300,300]},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/295ae0c8-cd7e-4b3a-bab9-ed3b25c57c69/big.jpeg","original_filename":"big.jpeg","size":348322,"url":"https://api.uploadcare.com/files/295ae0c8-cd7e-4b3a-bab9-ed3b25c57c69/","uuid":"295ae0c8-cd7e-4b3a-bab9-ed3b25c57c69","source":null}]}'
  recorded_at: Fri, 13 Mar 2020 15:47:07 GMT
recorded_with: VCR 5.0.0
