---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/webhooks/1/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:5d9901c15e225e66339f0700ca89e6b021ad61b5
  response:
    status:
      code: 200
      message: Success
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"id": 1,
    "created": "2016-04-27T11:49:54.948615Z",
    "updated": "2016-04-27T12:04:57.819933Z",
    "event": "file.uploaded",
    "target_url": "http://sometargeturl.com/hooks/receiver",
    "project": 13,
    "is_active": true}'
  recorded_at: Tue, 21 Jan 2020 12:43:25 GMT
recorded_with: VCR 5.0.0
