---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/webhooks/
    body:
      encoding: UTF-8
      string: '{"target_url":"http://ohmyz.sh","event":"file.uploaded","is_active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare ecd779dc169645ce3c91:069af1fe479aecb7248c6146e3674318660c11c6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"id":616294,"created":"2020-02-05T14:53:01.894511Z","updated":"2020-02-05T14:53:01.895307Z","event":"file.uploaded","target_url":"http://ohmyz.sh","project":86492,"is_active":true}'
  recorded_at: Wed, 05 Feb 2020 14:53:01 GMT
recorded_with: VCR 5.0.0
