---
http_interactions:
- request:
    method: put
    uri: https://api.uploadcare.com/files/storage/
    body:
      encoding: UTF-8
      string: '["nonexistent","other_nonexistent"]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:2ba1ca30ae1b3a52145c5479832ba0701932e2ad
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, OPTIONS, PUT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","problems":{"other_nonexistent":"Invalid","nonexistent":"Invalid"},"result":[]}'
  recorded_at: Mon, 20 Jan 2020 15:53:30 GMT
recorded_with: VCR 5.0.0
