---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: '{"source":"8f64f313-e6b1-4731-96c0-6751f1e7a50a"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:ac8975200dffc088391f0adc8be19ef1feca6490
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Location:
      - https://api.uploadcare.com/files/68cf87d7-2986-4584-bc0c-49606fa2968e/
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-01-20T15:45:40.772211Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/68cf87d7-2986-4584-bc0c-49606fa2968e/imagepng.jpeg","original_filename":"image.png.jpeg","size":0,"url":"https://api.uploadcare.com/files/68cf87d7-2986-4584-bc0c-49606fa2968e/","uuid":"68cf87d7-2986-4584-bc0c-49606fa2968e","source":"/8f64f313-e6b1-4731-96c0-6751f1e7a50a/"}}'
  recorded_at: Mon, 20 Jan 2020 15:45:41 GMT
recorded_with: VCR 5.0.0
