---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: '{"source":"8f64f313-e6b1-4731-96c0-6751f1e7a50a"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare.Simple c8499ee6dc44194c00d2:81d1ab1b5e9cb74d1ab1
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Location:
      - https://api.uploadcare.com/files/f336251f-4848-4d1a-b1de-05d7dc3321f6/
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-01-20T08:24:50.939615Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/f336251f-4848-4d1a-b1de-05d7dc3321f6/imagepng.jpeg","original_filename":"image.png.jpeg","size":0,"url":"https://api.uploadcare.com/files/f336251f-4848-4d1a-b1de-05d7dc3321f6/","uuid":"f336251f-4848-4d1a-b1de-05d7dc3321f6","source":"/8f64f313-e6b1-4731-96c0-6751f1e7a50a/"}}'
  recorded_at: Mon, 20 Jan 2020 08:24:51 GMT
recorded_with: VCR 5.0.0
