---
http_interactions:
- request:
    method: put
    uri: https://api.uploadcare.com/webhooks/887447/
    body:
      encoding: UTF-8
      string: '{"target_url":"https://github.com","is_active":false,"signing_secret":"3ZsQRtl5Ez"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare demopublickey:858037812b3dca034de2b35df5c142788bf4bb7f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      Allow:
      - OPTIONS, PUT
    body:
      encoding: ASCII-8BIT
      string: '{"id":887447,"created":"2021-11-16T05:41:51.040032Z","updated":"2021-11-16T05:45:14.422880Z","event":"file.uploaded","target_url":"https://github.com","project":159,"is_active":false,"signing_secret":"3ZsQRtl5Ez"}'
  recorded_at: Tue, 16 Nov 2021 05:45:14 GMT
recorded_with: VCR 6.0.0
