---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":"https://api.uploadcare.com/files/?from=2020-02-05T14%3A21%3A31.471606%2B00%3A00&limit=1&offset=0","previous":null,"total":3,"per_page":1,"results":[{"datetime_removed":null,"datetime_stored":"2020-02-05T14:21:31.618409Z","datetime_uploaded":"2020-02-05T14:21:31.471606Z","image_info":{"color_mode":"RGB","orientation":null,"format":"WEBP","sequence":false,"height":253,"width":480,"geo_location":null,"datetime_original":null,"dpi":null},"is_image":true,"is_ready":true,"mime_type":"image/webp","original_file_url":"https://ucarecdn.com/e7f25edf-511d-4668-8258-0192a73b9f2d/i.webp","original_filename":"i.webp","size":13380,"url":"https://api.uploadcare.com/files/e7f25edf-511d-4668-8258-0192a73b9f2d/","uuid":"e7f25edf-511d-4668-8258-0192a73b9f2d","source":null}]}'
  recorded_at: Fri, 13 Mar 2020 14:49:54 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/files/?from=2020-02-05T14:21:31.471606%2B00:00&limit=1&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":"https://api.uploadcare.com/files/?limit=1&from=2020-02-12T12%3A16%3A47.262363%2B00%3A00&offset=0","previous":"https://api.uploadcare.com/files/?limit=1&to=2020-02-12T12%3A16%3A47.262363%2B00%3A00&offset=0","total":3,"per_page":1,"results":[{"datetime_removed":null,"datetime_stored":"2020-02-12T12:16:47.326688Z","datetime_uploaded":"2020-02-12T12:16:47.262363Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":121,"width":100,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/121.jpeg","original_filename":"121.jpeg","size":2744,"url":"https://api.uploadcare.com/files/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/","uuid":"35b7fcd7-9bca-40e1-99b1-2adcc21c405d","source":null}]}'
  recorded_at: Fri, 13 Mar 2020 14:49:54 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/files/?from=2020-02-12T12:16:47.262363%2B00:00&limit=1&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":null,"previous":"https://api.uploadcare.com/files/?limit=1&to=2020-02-14T13%3A30%3A08.785811%2B00%3A00&offset=0","total":3,"per_page":1,"results":[{"datetime_removed":null,"datetime_stored":"2020-02-14T13:30:08.959836Z","datetime_uploaded":"2020-02-14T13:30:08.785811Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":139,"width":200,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/730c5fb9-bbe7-402c-9c26-789e92a5a353/139","original_filename":"139","size":4394,"url":"https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/","uuid":"730c5fb9-bbe7-402c-9c26-789e92a5a353","source":null}]}'
  recorded_at: Fri, 13 Mar 2020 14:49:55 GMT
recorded_with: VCR 5.0.0
