---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2020-02-12T12:16:47.326688Z","datetime_uploaded":"2020-02-12T12:16:47.262363Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":121,"width":100,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/121.jpeg","original_filename":"121.jpeg","size":2744,"url":"https://api.uploadcare.com/files/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/","uuid":"35b7fcd7-9bca-40e1-99b1-2adcc21c405d","source":null}'
  recorded_at: Fri, 06 Mar 2020 14:05:25 GMT
- request:
    method: post
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: '{"source":"https://ucarecdn.com/35b7fcd7-9bca-40e1-99b1-2adcc21c405d","strip_operations":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Location:
      - https://api.uploadcare.com/files/c276cf0c-7388-48bc-94cd-ef6962f39cb7/
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-03-06T14:05:26.080709Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/c276cf0c-7388-48bc-94cd-ef6962f39cb7/121.jpeg","original_filename":"121.jpeg","size":0,"url":"https://api.uploadcare.com/files/c276cf0c-7388-48bc-94cd-ef6962f39cb7/","uuid":"c276cf0c-7388-48bc-94cd-ef6962f39cb7","source":"/35b7fcd7-9bca-40e1-99b1-2adcc21c405d/"}}'
  recorded_at: Fri, 06 Mar 2020 14:05:26 GMT
- request:
    method: get
    uri: https://api.uploadcare.com/files/c276cf0c-7388-48bc-94cd-ef6962f39cb7/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-03-06T14:05:26.080709Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":121,"width":100,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/c276cf0c-7388-48bc-94cd-ef6962f39cb7/121.jpeg","original_filename":"121.jpeg","size":2744,"url":"https://api.uploadcare.com/files/c276cf0c-7388-48bc-94cd-ef6962f39cb7/","uuid":"c276cf0c-7388-48bc-94cd-ef6962f39cb7","source":null}'
  recorded_at: Fri, 06 Mar 2020 14:05:27 GMT
recorded_with: VCR 5.0.0
