---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare.Simple c8499ee6dc44194c00d2:81d1ab1b5e9cb74d1ab1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":null,"previous":null,"total":5,"per_page":100,"results":[{"datetime_removed":null,"datetime_stored":"2020-01-16T14:48:46.897379Z","datetime_uploaded":"2020-01-16T14:48:46.776894Z","image_info":{"color_mode":"RGBA","orientation":null,"format":"PNG","sequence":false,"height":300,"width":300,"geo_location":null,"datetime_original":null,"dpi":[72,72]},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/bf3aba03-2213-46d0-83f0-4a240002f3ec/Test.png","original_filename":"Test.png","size":3118,"url":"https://api.uploadcare.com/files/bf3aba03-2213-46d0-83f0-4a240002f3ec/","uuid":"bf3aba03-2213-46d0-83f0-4a240002f3ec","source":null},{"datetime_removed":null,"datetime_stored":"2020-01-16T15:02:30.430281Z","datetime_uploaded":"2020-01-16T15:02:30.308894Z","image_info":{"color_mode":"RGBA","orientation":null,"format":"PNG","sequence":false,"height":300,"width":300,"geo_location":null,"datetime_original":null,"dpi":[72,72]},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/c724feac-86f7-447c-b2d6-b0ced220173d/Test.png","original_filename":"Test.png","size":3118,"url":"https:[...]
