---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/?limit=2&ordering=-datetime_uploaded
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:083b67931eab9a75f634ca6d34010dacd768ffcd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 5a263cf0-5f8e-4e8d-9c7c-dbfa7955ad3a
    body:
      encoding: ASCII-8BIT
      string: '{"next":"https://api.uploadcare.com/files/?limit=2&ordering=-datetime_uploaded&from=2022-09-28T15%3A53%3A36.082137%2B00%3A00&offset=0","previous":null,"total":129,"totals":{"removed":0,"stored":129,"unstored":0},"per_page":2,"results":[{"datetime_removed":null,"datetime_stored":"2022-10-01T08:31:32.834879Z","datetime_uploaded":"2022-10-01T08:31:32.730675Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/8f0a2a28-3ed7-481e-b415-ee3cce982aaa/image.png","original_filename":"image.png","size":86745,"url":"https://api.uploadcare.com/files/8f0a2a28-3ed7-481e-b415-ee3cce982aaa/","uuid":"8f0a2a28-3ed7-481e-b415-ee3cce982aaa","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":536,"format":"PNG","height":354,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}},{"datetime_removed":null,"datetime_stored":"2022-09-28T15:53:36.188117Z","datetime_uploaded":"2022-09-28T15:53:36.082137Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/4654a098-ddef-4157-98f2-9c902b699bd8/image.png","original_filename":"image.png","size":4659,"url":"https://api.uploadcare.com/files/4654a098-ddef-4157-98f2-9c902b699bd8/","uuid":"4654a098-ddef-4157-98f2-9c902b699bd8","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":274,"format":"PNG","height":367,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}]}'
  recorded_at: Sun, 02 Oct 2022 10:26:36 GMT
recorded_with: VCR 6.1.0
