---
http_interactions:
- request:
    method: delete
    uri: https://api.uploadcare.com/files/158e7c82-8246-4017-9f17-0798e18c91b0/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:f423d985670ff8eb7e728626f497f5f086cf276c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      X-Uploadcare-Request-Id:
      - 2858bc95-ea6c-4f7c-9111-38a9d024d6d6
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":"2022-09-29T18:32:34.294207Z","datetime_stored":null,"datetime_uploaded":"2021-10-21T13:02:26.853869Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"demo7.jpeg","size":21554,"url":"https://api.uploadcare.com/files/158e7c82-8246-4017-9f17-0798e18c91b0/","uuid":"158e7c82-8246-4017-9f17-0798e18c91b0","variations":null,"content_info":{"image":{"dpi":[25,25],"width":536,"format":"JPEG","height":354,"sequence":false,"color_mode":"RGB","orientation":1,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Thu, 29 Sep 2022 18:32:34 GMT
recorded_with: VCR 6.1.0
