---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/webhooks/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare ecd779dc169645ce3c91:29e6862f7ae2df9eafc9051f8c70ad700d9ef4a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '[{"id":616293,"created":"2020-02-05T14:31:59.280925Z","updated":"2020-02-05T14:31:59.280947Z","event":"file.uploaded","target_url":"http://example.org","project":86492,"is_active":true},{"id":616292,"created":"2020-02-05T14:21:45.985477Z","updated":"2020-02-05T14:21:45.985508Z","event":"file.uploaded","target_url":"http://example.com","project":86492,"is_active":true}]'
  recorded_at: Wed, 05 Feb 2020 14:32:04 GMT
recorded_with: VCR 5.0.0
