---
http_interactions:
- request:
    method: put
    uri: https://api.uploadcare.com/files/storage/
    body:
      encoding: UTF-8
      string: '["nonexistent","nonexistent","other"]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare.Simple c8499ee6dc44194c00d2:81d1ab1b5e9cb74d1ab1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, OPTIONS, PUT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","problems":{"other":"Invalid","nonexistent":"Invalid"},"result":[]}'
  recorded_at: Mon, 20 Jan 2020 09:02:44 GMT
recorded_with: VCR 5.0.0
