---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: '{"source":"8f64f313-e6b1-4731-96c0-6751f1e7a50a"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:d19ca50e5e06113a69a1fde9dd31e791635eb21a
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Location:
      - https://api.uploadcare.com/files/a811d802-f555-453f-a717-bf23ab0b309a/
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2020-01-30T12:34:28.501482Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/a811d802-f555-453f-a717-bf23ab0b309a/imagepng.jpeg","original_filename":"image.png.jpeg","size":0,"url":"https://api.uploadcare.com/files/a811d802-f555-453f-a717-bf23ab0b309a/","uuid":"a811d802-f555-453f-a717-bf23ab0b309a","source":"/8f64f313-e6b1-4731-96c0-6751f1e7a50a/"}}'
  recorded_at: Thu, 30 Jan 2020 12:34:28 GMT
recorded_with: VCR 5.0.0
