---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/webhooks/616294/
    body:
      encoding: UTF-8
      string: '{"target_url":"https://github.com","is_active":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare ecd779dc169645ce3c91:52fa9e7757b0c07af9df9212645d76ac00ec00c3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"id":616294,"created":"2020-02-05T14:53:01.894511Z","updated":"2020-02-05T15:11:51.528694Z","event":"file.uploaded","target_url":"https://github.com","project":86492,"is_active":false}'
  recorded_at: Wed, 05 Feb 2020 15:11:51 GMT
recorded_with: VCR 5.0.0
