---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/addons/uc_clamav_virus_scan/execute/
    body:
      encoding: UTF-8
      string: '{"target":"ff4d3d37-4de0-4f6d-a7db-8cdabe7fc768","params":{"purge_infected":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:591dbc7f8058e49694ccfe0eec56515c3f62337e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - OPTIONS, POST
      X-Uploadcare-Request-Id:
      - 34abf037-5384-4e38-bad4-97dd48e79acd
    body:
      encoding: UTF-8
      string: '{"request_id": "34abf037-5384-4e38-bad4-97dd48e79acd"}'
  recorded_at: Fri, 23 Sep 2022 10:02:58 GMT
recorded_with: VCR 6.1.0
