---
http_interactions:
- request:
    method: get
    uri: https://upload.uploadcare.com/from_url/status/?token=0313e4e2-f2ca-4564-833b-4f71bc8cba27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 98845e62-5cd9-4426-840c-004d6dde63e0
    body:
      encoding: UTF-8
      string: '{"size":453543,"total":453543,"done":453543,"uuid":"5c51a7fe-e45d-42a2-ba5e-79957ff4bdab","file_id":"5c51a7fe-e45d-42a2-ba5e-79957ff4bdab","original_filename":"2250","is_image":true,"is_stored":false,"image_info":{"dpi":[96,96],"width":2250,"format":"JPEG","height":2250,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null},"video_info":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[96,96],"width":2250,"format":"JPEG","height":2250,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"is_ready":true,"filename":"2250","mime_type":"image/jpeg","metadata":{},"status":"success"}'
  recorded_at: Tue, 20 Sep 2022 13:34:20 GMT
recorded_with: VCR 6.1.0
