---
http_interactions:
- request:
    method: post
    uri: https://upload.uploadcare.com/multipart/start/
    body:
      encoding: UTF-8
      string: "-----------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93\r\nContent-Disposition:
        form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\nc8499ee6dc44194c00d2\r\n-----------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93\r\nContent-Disposition:
        form-data; name=\"UPLOADCARE_STORE\"\r\n\r\n0\r\n-----------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93\r\nContent-Disposition:
        form-data; name=\"filename\"\r\n\r\nbig.jpg\r\n-----------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93\r\nContent-Disposition:
        form-data; name=\"size\"\r\n\r\n14679474\r\n-----------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93\r\nContent-Disposition:
        form-data; name=\"content_type\"\r\n\r\napplication/octet-stream\r\n-----------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------f4dfcb3b86e4a9faff02edcd0cbaee22c9a2d3bc93
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"parts":["https://uploadcare.s3-accelerate.amazonaws.com/d8c914e3-3aef-4976-b0b6-855a9638da2d/big.jpg?partNumber=1&uploadId=CS0G.NW9gLI4Sp6rpfvYjezk.kn7hFKjaDRCwHwEh1F7lhSHezIwdQeFf19sg0C2wklpXq3Sa43hKehb6YEyjP6cABRiQ8vNdMbwEuSOUriJPA4F68godAaaP1jHS.Tk&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=86400&X-Amz-Credential=AKIAI24Z75ZC7N6QJQHA%2F20200123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Date=20200123T130313Z&X-Amz-Signature=5c514bdf7d4ab3fc3a3cf45d57dc013870a82472fcae36572cbf[...]
- request:
    method: put
    uri: https://uploadcare.s3-accelerate.amazonaws.com/d8c914e3-3aef-4976-b0b6-855a9638da2d/big.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAI24Z75ZC7N6QJQHA/20200123/us-east-1/s3/aws4_request&X-Amz-Date=20200123T130313Z&X-Amz-Expires=86400&X-Amz-Signature=5c514bdf7d4ab3fc3a3cf45d57dc013870a82472fcae36572cbfb0bdf19f0383&X-Amz-SignedHeaders=host&partNumber=1&uploadId=CS0G.NW9gLI4Sp6rpfvYjezk.kn7hFKjaDRCwHwEh1F7lhSHezIwdQeFf19sg0C2wklpXq3Sa43hKehb6YEyjP6cABRiQ8vNdMbwEuSOUriJPA4F68godAaaP1jHS.Tk
    body:
      encoding: UTF-8
      string: 5 MB string in binary
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 49423F5B7457ACF4
      Etag:
      - '"be18919d68022a42053129186a3c7da1"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Jan 2020 13:03:18 GMT
[...]
- request:
    method: post
    uri: https://upload.uploadcare.com/multipart/complete/
    body:
      encoding: UTF-8
      string: "-----------------------86861ae86ae21f739a9befba64db0b3ed3662d821c\r\nContent-Disposition:
        form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\nc8499ee6dc44194c00d2\r\n-----------------------86861ae86ae21f739a9befba64db0b3ed3662d821c\r\nContent-Disposition:
        form-data; name=\"uuid\"\r\n\r\nd8c914e3-3aef-4976-b0b6-855a9638da2d\r\n-----------------------86861ae86ae21f739a9befba64db0b3ed3662d821c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------86861ae86ae21f739a9befba64db0b3ed3662d821c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"is_stored":false,"done":14679474,"file_id":"d8c914e3-3aef-4976-b0b6-855a9638da2d","total":14679474,"size":14679474,"uuid":"d8c914e3-3aef-4976-b0b6-855a9638da2d","is_image":true,"filename":"big.jpg","video_info":null,"is_ready":true,"original_filename":"big.jpg","image_info":{"color_mode":"RGB","orientation":1,"format":"JPEG","sequence":false,"height":4542,"width":10109,"geo_location":null,"datetime_original":"2010-07-31T15:18:35","dpi":[300,300]},"mime_type":"application/octet-stream"}'
  recorded_at: Thu, 23 Jan 2020 13:03:27 GMT
recorded_with: VCR 5.0.0
