---
http_interactions:
- request:
    method: post
    uri: https://upload.uploadcare.com/group/
    body:
      encoding: UTF-8
      string: "-----------------------62bbc562d8a4b932833f093349c9182c5cec189103\r\nContent-Disposition:
        form-data; name=\"pub_key\"\r\n\r\ndemopublickey\r\n-----------------------62bbc562d8a4b932833f093349c9182c5cec189103\r\nContent-Disposition:
        form-data; name=\"files[0]\"\r\n\r\n8ca6e9fa-c6dd-4027-a0fc-b620611f7023\r\n-----------------------62bbc562d8a4b932833f093349c9182c5cec189103\r\nContent-Disposition:
        form-data; name=\"files[1]\"\r\n\r\nb8a11440-6fcc-4285-a24d-cc8c60259fec\r\n-----------------------62bbc562d8a4b932833f093349c9182c5cec189103--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------62bbc562d8a4b932833f093349c9182c5cec189103
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 88700fbd-74c3-49b1-b070-86360c219ba9
    body:
      encoding: UTF-8
      string: '{"id":"bbc75785-9016-4656-9c6e-64a76b45b0b8~2","datetime_created":"2022-09-21T12:48:35.157603Z","datetime_stored":null,"files_count":2,"cdn_url":"https://ucarecdn.com/bbc75785-9016-4656-9c6e-64a76b45b0b8~2/","url":"https://api.uploadcare.com/groups/bbc75785-9016-4656-9c6e-64a76b45b0b8~2/","files":[{"size":1290,"total":1290,"done":1290,"uuid":"8ca6e9fa-c6dd-4027-a0fc-b620611f7023","file_id":"8ca6e9fa-c6dd-4027-a0fc-b620611f7023","original_filename":"kitten.jpeg","is_image":true,"is_stored":true,"image_info":{"dpi":[96,96],"width":50,"format":"JPEG","height":50,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null},"video_info":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[96,96],"width":50,"format":"JPEG","height":50,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"is_ready":true,"filename":"kitten.jpeg","mime_type":"application/octet-stream","metadata":{},"default_effects":""},{"size":2375,"total":2375,"done":2375,"uuid":"b8a11440-6fcc-4285-a24d-cc8c60259fec","file_id":"b8a11440-6fcc-4285-a24d-cc8c60259fec","original_filename":"another_kitten.jpeg","is_image":true,"is_stored":true,"image_info":{"dpi":[96,96],"width":100,"format":"JPEG","height":100,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null},"video_info":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[96,96],"width":100,"format":"JPEG","height":100,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"is_ready":true,"filename":"another_kitten.jpeg","mime_type":"application/octet-stream","metadata":{},"default_effects":""}]}'
  recorded_at: Wed, 21 Sep 2022 12:48:35 GMT
recorded_with: VCR 6.1.0
