---
http_interactions:
- request:
    method: post
    uri: https://upload.uploadcare.com/from_url/
    body:
      encoding: UTF-8
      string: "-----------------------b83dc4435efe4fccbee41c6fd1c1f9bee8117f698c\r\nContent-Disposition:
        form-data; name=\"pub_key\"\r\n\r\n99d8e355c5811c2c26ae\r\n-----------------------b83dc4435efe4fccbee41c6fd1c1f9bee8117f698c\r\nContent-Disposition:
        form-data; name=\"source_url\"\r\n\r\nhttps://placekitten.com/2250/2250\r\n-----------------------b83dc4435efe4fccbee41c6fd1c1f9bee8117f698c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------b83dc4435efe4fccbee41c6fd1c1f9bee8117f698c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 4fceec68-f74a-4f2a-ba03-0e392a2327e7
    body:
      encoding: UTF-8
      string: '{"type":"token","token":"0313e4e2-f2ca-4564-833b-4f71bc8cba27"}'
  recorded_at: Tue, 20 Sep 2022 13:24:01 GMT
- request:
    method: get
    uri: https://upload.uploadcare.com/from_url/status/?token=0313e4e2-f2ca-4564-833b-4f71bc8cba27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - c6db0d92-8ea9-4236-8e52-08979a068399
    body:
      encoding: UTF-8
      string: '{"status":"waiting"}'
  recorded_at: Tue, 20 Sep 2022 13:24:02 GMT
- request:
    method: get
    uri: https://upload.uploadcare.com/from_url/status/?token=0313e4e2-f2ca-4564-833b-4f71bc8cba27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 2c745a16-e6ff-4baa-a628-e56a5be627dd
    body:
      encoding: UTF-8
      string: '{"size":453543,"total":453543,"done":453543,"uuid":"5c51a7fe-e45d-42a2-ba5e-79957ff4bdab","file_id":"5c51a7fe-e45d-42a2-ba5e-79957ff4bdab","original_filename":"2250","is_image":true,"is_stored":false,"image_info":{"dpi":[96,96],"width":2250,"format":"JPEG","height":2250,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null},"video_info":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[96,96],"width":2250,"format":"JPEG","height":2250,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"is_ready":true,"filename":"2250","mime_type":"image/jpeg","metadata":{},"status":"success"}'
  recorded_at: Tue, 20 Sep 2022 13:24:03 GMT
recorded_with: VCR 6.1.0
