---
http_interactions:
- request:
    method: post
    uri: https://upload.uploadcare.com/multipart/start/
    body:
      encoding: UTF-8
      string: "-----------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12\r\nContent-Disposition:
        form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\n99d8e355c5811c2c26ae\r\n-----------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12\r\nContent-Disposition:
        form-data; name=\"UPLOADCARE_STORE\"\r\n\r\n0\r\n-----------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12\r\nContent-Disposition:
        form-data; name=\"filename\"\r\n\r\nbig.jpeg\r\n-----------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12\r\nContent-Disposition:
        form-data; name=\"size\"\r\n\r\n10487050\r\n-----------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12\r\nContent-Disposition:
        form-data; name=\"content_type\"\r\n\r\napplication/octet-stream\r\n-----------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------8a700b659fd459bc0664bfc3913833eb6c138e1d12
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - cc0e0bbf-df44-4755-8cbf-aaffab314c82
    body:
      encoding: UTF-8
      string: '{"uuid":"940b6a1b-491b-4189-92f0-c8d895f2e5a6","parts":["https://uploadcare.s3-accelerate.amazonaws.com/940b6a1b-491b-4189-92f0-c8d895f2e5a6/big.jpeg?uploadId=Xnk21sw6soElx1ACgGICpuk9fMevNEs8abEQaXtthvOvbOfLsiQKVbihV9voEMYy0T.4iJP6r4X6eOpZDTmcUc51LO7pkQJ7d_2qob4W1VhJpG2vycHF1ifrHkWc8ljQ&partNumber=1&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5C7IQCBHORWBLSGS%2F20220920%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220920T204824Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=d5efa0c2568e1df9e27d267e5af3bf0931f0b4cf06e4168c5f8[...]
- request:
    method: put
    uri: https://uploadcare.s3-accelerate.amazonaws.com/940b6a1b-491b-4189-92f0-c8d895f2e5a6/big.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5C7IQCBHORWBLSGS/20220920/us-east-1/s3/aws4_request&X-Amz-Date=20220920T204824Z&X-Amz-Expires=86400&X-Amz-Signature=4f04e4c69c365dfe771958115cfa312fc04333e9d73906475ac2c5684d19f978&X-Amz-SignedHeaders=host&partNumber=2&uploadId=Xnk21sw6soElx1ACgGICpuk9fMevNEs8abEQaXtthvOvbOfLsiQKVbihV9voEMYy0T.4iJP6r4X6eOpZDTmcUc51LO7pkQJ7d_2qob4W1VhJpG2vycHF1ifrHkWc8ljQ
    body:
      encoding: UTF-8
      string: Big string (5) MB
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - E2NXBAWWM3GN834T
      Etag:
      - '"79b281060d337b9b2b84ccf390adcf74"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 20 Sep 2022 20:48:26 GMT
[...]
- request:
    method: post
    uri: https://upload.uploadcare.com/multipart/complete/
    body:
      encoding: UTF-8
      string: "-----------------------5f625bb964c26e7c41f0f3fb06d1da87163722737c\r\nContent-Disposition:
        form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\n99d8e355c5811c2c26ae\r\n-----------------------5f625bb964c26e7c41f0f3fb06d1da87163722737c\r\nContent-Disposition:
        form-data; name=\"uuid\"\r\n\r\n940b6a1b-491b-4189-92f0-c8d895f2e5a6\r\n-----------------------5f625bb964c26e7c41f0f3fb06d1da87163722737c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------5f625bb964c26e7c41f0f3fb06d1da87163722737c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 3fd1c0e6-e941-497c-a100-d5f748a02cb2
    body:
      encoding: UTF-8
      string: '{"size":10487050,"total":10487050,"done":10487050,"uuid":"940b6a1b-491b-4189-92f0-c8d895f2e5a6","file_id":"940b6a1b-491b-4189-92f0-c8d895f2e5a6","original_filename":"big.jpeg","is_image":true,"is_stored":false,"image_info":{"dpi":[96,96],"width":50,"format":"JPEG","height":50,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null},"video_info":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[96,96],"width":50,"format":"JPEG","height":50,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"is_ready":true,"filename":"big.jpeg","mime_type":"application/octet-stream","metadata":{}}'
  recorded_at: Tue, 20 Sep 2022 20:48:29 GMT
recorded_with: VCR 6.1.0
