---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/convert/video/status/911933811/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:aa3ac538117d01dfa58f78524a7c735467b27374
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"status":"finished","error":null,"result":{"uuid":"1b73cddb-8e07-44f0-a7ba-724a8300a7a9","thumbnails_group_uuid":"0f181f24-7551-42e5-bebc-14b15d9d3838~2"}}'
  recorded_at: Mon, 19 Jul 2021 08:57:33 GMT
recorded_with: VCR 6.0.0
