---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/f1821874-3d2e-439b-9e13-d0795a3c1d98/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:98c10bf7844648236704a5dbfb117da9a69f3817
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":"2021-07-19T08:32:39.552772Z","datetime_stored":null,"datetime_uploaded":"2021-07-16T11:40:25.916749Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"audio/ogg","original_file_url":null,"original_filename":"video.ogg","size":276660,"url":"https://api.uploadcare.com/files/f1821874-3d2e-439b-9e13-d0795a3c1d98/","uuid":"f1821874-3d2e-439b-9e13-d0795a3c1d98","source":null}'
  recorded_at: Mon, 06 Sep 2021 05:08:29 GMT
recorded_with: VCR 6.0.0
