---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/video/
    body:
      encoding: UTF-8
      string: '{"paths":["e30112d7-3a90-4931-b2c5-688cbb46d3ac/video/-/size/600x400/change_ratio/-/quality/best/-/format/ogg/-/cut/0:0:0.0/0:0:1.0/-/thumbs~2/1/"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:661e37fbd7b07f40b3e13abc38df58974609b199
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"result": [{"original_source": "e30112d7-3a90-4931-b2c5-688cbb46d3ac/video/-/size/600x400/change_ratio/-/quality/best/-/format/ogg/-/cut/0:0:0.0/0:0:1.0/-/thumbs~2/1/",
        "token": 911162353, "uuid": "f1821874-3d2e-439b-9e13-d0795a3c1d98", "thumbnails_group_uuid":
        "b99de71f-0ae2-4ac5-806a-c6f0f1744369~2"}], "problems": {}}'
  recorded_at: Fri, 16 Jul 2021 11:40:26 GMT
recorded_with: VCR 6.0.0
