---
http_interactions:
- request:
    method: post
    uri: https://upload.uploadcare.com/from_url/
    body:
      encoding: UTF-8
      string: pub_key=<uploadcare_public_key>&source_url=https%3A%2F%2Fraw.githubusercontent.com%2Fuploadcare%2Fuploadcare-ruby%2Fmain%2Fspec%2Ffixtures%2Fkitten.jpeg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: You should use secure requests to Uploadcare'
      X-Uploadcare-Request-Id:
      - 174f15ad-7241-4d96-9e2e-af2d75f50c6b
    body:
      encoding: ASCII-8BIT
      string: '{"type":"token","token":"32257c8d-c07e-4ad2-babe-b6fd1f433b10"}'
  recorded_at: Tue, 25 Nov 2025 08:50:27 GMT
- request:
    method: get
    uri: https://upload.uploadcare.com/from_url/status/?token=32257c8d-c07e-4ad2-babe-b6fd1f433b10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare.Simple <uploadcare_public_key>:<uploadcare_secret_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: You should use secure requests to Uploadcare'
      X-Uploadcare-Request-Id:
      - 67b71e95-bc2f-4f72-9d81-fcac008a9777
    body:
      encoding: ASCII-8BIT
      string: '{"size":1290,"total":1290,"done":1290,"uuid":"ef4a65a7-cf94-4f40-81e2-98bc73af7317","file_id":"ef4a65a7-cf94-4f40-81e2-98bc73af7317","original_filename":"kitten.jpeg","is_image":true,"is_stored":false,"image_info":{"dpi":[96,96],"width":50,"format":"JPEG","height":50,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null},"video_info":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[96,96],"width":50,"format":"JPEG","height":50,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"is_ready":true,"filename":"kitten.jpeg","mime_type":"image/jpeg","metadata":{},"status":"success"}'
  recorded_at: Tue, 25 Nov 2025 08:50:27 GMT
recorded_with: VCR 6.3.1
